<md-sidenav-container fullscreen>
  <!-- left side menu-->
  <!--<md-sidenav #sidenav mode="side" class="left-nav-menu" md-no-ink>
    <md-menu>User</md-menu>
  </md-sidenav>-->
  <!-- Toolbar-->
  <md-toolbar dark>
    <button md-icon-button disableRipple>
      <md-icon>menu</md-icon>
    </button>
    <span> User Management </span>
  </md-toolbar>
  <!-- Main content-->
  <!--<router-outlet></router-outlet>-->
  <app-user></app-user>
</md-sidenav-container>