<form [formGroup]="userForm">
    <div>
        <!-- User id-->
        <md-input-container>
            <input mdInput formControlName="userId" type="text" placeholder="Id">
        </md-input-container>

        <!-- User name -->
        <md-input-container>
            <input mdInput formControlName="userName" type="text" placeholder="Name">
        </md-input-container>
    </div>
    <div>
        <!-- user age-->
        <md-input-container>
            <input mdInput formControlName="userAge" type="text" placeholder="Age">
        </md-input-container>

        <!-- user address-->
        <md-input-container>
            <textarea mdInput formControlName="userAddress" placeholder="Address"></textarea>
        </md-input-container>
    </div>
    <!-- Form actions-->
    <div>
        <button md-raised-button color="primary" (click)="onCreateClick()">Create</button>
        <button md-raised-button color="primary" (click)="dialogRef.close();">Cancel</button>
    </div>
</form>