<div class="user-info">
  <div class="user-creation-btn">
    <button md-raised-button color="primary" (click)="onCreateUserClick()">CREATE</button>
    <button md-raised-button color="primary" (click)="onClearUserClick()">CLEAR</button>

  </div>

  <div class="user-table">
    <table>
      <thead>
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let index=index;" [ngClass]="{'orange':user.userAge<18, 'green':user.userAge<35&& user.userAge>=18, 'white':user.userAge>=35}">
          <td>{{user.userId}}</td>
          <td>{{user.userName}}</td>
          <td>{{user.userAge}}</td>
          <td>{{user.userAddress}}</td>
          <td>
            <button md-raised-button color="primary" (click)="onEditUserClick(user,index)">EDIT</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>