table, th, td {
    
    border-collapse: collapse;
    font-size: 14px;
    font-family: monospace;
    line-height: 2;
}
table {
    width: 100%;
    background: transparent;
    border: 1px solid #ddd;
}
tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

td {
    text-align: center;
}

tbody>tr:hover {
    background:grey !important;
}
tbody tr:nth-of-type(odd){
    background: #f5f5f5
}
tbody tr:nth-of-type(even){
    background: lightgray
}

.user-info {
    padding: 20px;
}

.user-creation-btn {
    margin-bottom: 10px;
}

.orange {
    background: orange !important;
}

.green {
    background: green !important;
}
.white {
    background: white;
}